*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-size: 1.125rem;
  line-height: 150%;
}

.container {
  display: grid;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 1.5rem;
  max-width: 90%;
  padding: 64px;
  margin-inline: auto;
}

.top__menu {
  padding: 1rem;
  background-color: #f6f6eb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  color: #381fd1;
}

.right_botton {
  margin-left: auto;
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: flex-start;
}
.right_botton--button {
  padding: 8px;
  background-color: #381fd1;
  color: #fff;
  border: 2px;
  border-radius: 6px;
  position: block;
  width: 100%;
}
.right_botton > img {
  max-width: 30px;
}

.top__menu > img {
  max-width: 40px;
}

.sidebar {
  grid-column: -1;
  grid-row: 1;
  order: 1;
}
.sidebar-button {
  display: grid;
  padding-left: 20px;
  padding-block: 16px;
  color: black;
  text-decoration-line: none;
}
.sidebar__resource-box {
  background-color: #f3f2fc;
  padding: 18px;
  max-width: 300px;
}
.sidebar__resource-box__submitbox {
  background-color: #381fd1;
  color: #ffffff;
  border-radius: 0.5rem;
}

* > h3 {
  font-weight: 900;
  color: #11284b;
}

* > h1 {
  font-weight: 1000;
  font-size: 45px;
  color: #11284b;
}

.search__box {
  width: 250px;
}

.search-txt {
  width: 100%;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 10px 12px;
  font-size: 14px;
  align-items: center;
}

.cardcollection {
  display: grid;
  grid-column: 1/-1;
  row-gap: 1.5rem;
  grid-template-columns: subgrid;
  grid-auto-rows: subgrid;
  padding: 24px;
}
.cardcollection__card-section {
  border: 1px solid #bbbbc1;
  border-radius: 12px;
  display: grid;
  grid-column: 1/3;
  grid-row: 1;
}
.cardcollection__card-section img {
  max-width: 40px;
  border: 2px solid;
  border-radius: 20%;
}

.title {
  color: #381fd1;
}

.Second-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1/7;
  overflow-x: auto;
  max-width: 100%;
  background-color: #11284b;
  color: #f6f6eb;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 30rem;
  padding-block: 15px 100px;
  padding-inline: 90px;
}
.future_collections {
  display: flex;
}